extends ../layout

block content
	form(method="post", action="/post/#{post._id}")
		input(type="hidden", name="_method", value="PUT")
		label(for="title") 標題
		input(type="text", name="title", id="title", value="#{post.title}")
		br
		label(for="body") 內容
		textarea(name="body", id="body")= post.body
		br
		input(type="submit", name="submit")
